<div class="container">
  <div class="titlebox col-md"> <!-- Title and sub-title -->
    <h1>Coding Projects</h1>
    <h3>Projects that give bootcamp graduates the opportunity to roll-up their sleeves and test their skills.</h3>
  </div>
</div>

<div class="container"> <!-- Four short paragraphs of body text -->
  <div class="intro-text col-md">
    Once you’ve graduated from coding bootcamp, you’re advised to ‘keep coding’. This makes sense as it keeps your skills sharp and hopefully expands your project portfolio for that all-important job application.
  </div>
  <div class="intro-text col-md">
    But what should you code? Websites like CodeWars offer hundreds of coding challenges for you to work through. However, they tend to be small algorithm exercises, rather than roll-your-sleeves-up web projects.
  </div>
  <div class="intro-text col-md">
    If you could add a few substantial web apps to your portfolio, it would go a long way to convincing a potential employer that your basic skills are strong and that you know how to ‘fly solo’.
  </div>
  <div class="intro-text col-md">
    This page suggests a few coding projects of gradually increasing difficulty to build and add to your Github account.
  </div>
  <br />
</div> 

<div class="container"> <!-- First section: "Front-end Projects" (hard-coded, no DB accesses) -->
  <div class="section-heading col-md">
    Front-end Projects <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md">
      <li><b><%= link_to 'Library Computer Search Screen.', projects_libsearch_path %></b> Single page, fixed width, HTML & CSS.</li>
    </div>
    <div class="bullet-point col-md">
      <li><b><%= link_to 'Publisher\'s Book Sample Webpage.', projects_booksample_path %></b> Single page, liquid layout (columns that squash), HTML & CSS.</li>
    </div>
    <div class="bullet-point col-md">
      <li><b><%= link_to 'Raspberry Pi Comparison Page.', projects_raspi_path %></b> Single page, multi-columns with floats (columns that stack), HTML & CSS.</li>
    </div>
  </ul>
</div>

<div class="container"> <!-- Second section: "Full-stack Projects" (again, hard-coded, no DB calls) -->
  <div class="section-heading col-md">
    Full-stack Projects <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md">
      <li><b><%= link_to 'Planets of the Solar System.', projects_planets_path %></b> Image slideshow, small database, 1 controller, 1 model, simple CSS.</li>
    </div>
    <div class="bullet-point col-md">
      <li><b><%= link_to 'Prefab Home Manufacturers.', projects_prefab_path %></b> Bookmark listing page, 2 database tables, user authentication, input forms.</li>
    </div>
  </ul>
</div>

<div class="container"> <!-- Third section: "Single Page Applications" (hard-coded heading, no content) -->
  <div class="section-heading col-md">
    Single Page Applications <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md">
      <li><b>Coming soon...</b></li>
    </div>
    <!-- <div class="bullet-point col-md">
      <li><b>Name of Project.</b> Short description goes here.</li>
    </div> -->
  </ul>
</div>

<div class="container"> <!-- Uhhhh, what section is this? What is it doing? -->
  <div class="section-heading col-md">
    <%= @challenge_site_heading.heading_text %> <!-- Challenge site heading? Is this coming from the DB? -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @challenge_site_links.each do |link| %> <!-- All links for this heading_id -->
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>