<div class="container"> <!-- Title and sub-title -->
  <div class="titlebox col-md">
    <h1>Advanced Courses</h1>
    <h3>These are the career options in which bootcamp graduates can specialise.</h3>
  </div>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Overview of Advanced Course Options</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @options_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Cryptocurrency</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @crypto_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Cyber Security</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @cybersec_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Data Science</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @datasci_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Machine Learning</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @machine_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>Mobile Apps</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @mobile_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="textbox col-md">
    <b>UX and UI</b> <!-- Section heading -->
  </div>
  <ul>
    <div class="item col-md"> <!-- Links as bullet points -->
      <% @ux_ui_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>