<div class="container">
  <div class="titlebox col-md"> <!-- Title and sub-title -->
    <h1>Advanced Courses</h1>
    <h3>These are the career options in which bootcamp graduates can specialise.</h3>
  </div>
</div>

<div class="container">
  <div class="section-heading col-md">
    Overview of Advanced Course Options <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @options_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    Cryptocurrency <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @crypto_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    Cyber Security <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @cybersec_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    Data Science <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @datasci_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    Machine Learning <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @machine_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    Mobile Apps <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @mobile_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>

<div class="container">
  <div class="section-heading col-md">
    UX and UI <!-- Section heading -->
  </div>
  <ul>
    <div class="bullet-point col-md"> <!-- Links as bullet points -->
      <% @ux_ui_links.each do |link| %>
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.URL %>'><%= link.title %></a></b></li>
      <% end %>
    </div>
  </ul>
</div>