<!DOCTYPE html>
<html>
  <head>
    <title>After-Bootcamp | Useful Resources for Coding Bootcamp Graduates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link
      rel="stylesheet"
      href="prism-atom-dark.css"
      type="text/css"
      media="screen"
    />

    <script type="text/javascript" src="prism.js"></script>
    <script type="text/javascript" src="prism.ruby.js"></script>
  </head>

  <body class="background-col">
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to 'After-Bootcamp', root_path, class: 'navbar-title' %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Coding Projects', projects_index_path, class: 'nav-link' %>
        </li>        
        <li class="nav-item">
          <%= link_to 'Job Advice', advice_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Job Opportunities', job_ops_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Advanced Courses', courses_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <br class="clear" />

    <%= yield %>

    <br class="clear" />

    <div class="container"> 
      <div class="footer-text col-md">
        Site created by John R Henderson in Sussex, England.
      </div>
      <br />
    </div> 
  </body>
</html>
